@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 5rem 1fr 8rem;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  overflow-x: hidden;
}
body header {
  grid-row: 1/2;
  padding: 0.5rem;
}
body header .title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
}
body section {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}
body section .card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  transition: transform 0.3s, box-shadow;
}
body section .card:before {
  position: absolute;
  width: 90%;
  left: 5%;
  height: 5rem;
  content: " ";
  background: lightgray;
  top: 0;
  z-index: -10;
  border-radius: 6px;
  transform: translateY(-10px);
  transition: transform 0.3s;
}
body section .card:hover {
  transform: scale(0.95);
  box-shadow: 0 0 2px gray;
}
body section .card:hover:before {
  transform: translateY(0px);
}
body section .covers {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
body footer {
  grid-row: 3/4;
  background: #ddd;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.5rem;
  box-shadow: inset 0 0 15px #a3a3a3;
  height: 100%;
}
body footer .stack {
  border-right: 2px solid white;
  color: #a0a0a0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body footer .stack .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
body footer .stack .fab {
  font-size: 3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
body footer .stack .caption {
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
}
body footer .credits {
  color: #a0a0a0;
  border-right: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
body footer .credits .media {
  display: flex;
  justify-content: center;
  align-items: center;
}
body footer .credits .media .link-media {
  border: 2px solid #f7f7f7;
  padding: 0.6rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  transition: transform 0.2s;
}
body footer .credits .media .link-media .fab,
body footer .credits .media .link-media .fas {
  font-size: 2rem;
  color: #a0a0a0;
}
body footer .credits .media .link-media:hover {
  transform: scale(1.1);
}
body footer .credits .caption {
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
}
body footer .notice {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  font-size: 0.9rem;
  text-align: center;
  color: #a0a0a0;
  font-weight: bolder;
}

@media only screen and (max-width: 768px) {
  body section {
    grid-template-columns: repeat(2, 1fr);
  }
  body section .card.edc-wrapper {
    grid-column: 1/3;
  }
  body footer {
    grid-template-columns: repeat(2, 1fr);
  }
  body footer .notice {
    grid-column: 1/3;
  }
}
@media only screen and (max-width: 425px) {
  body {
    grid-template-rows: 5rem 1fr 25rem;
  }
  body header .title {
    font-size: 1.2rem;
  }
  body section {
    grid-template-columns: 1fr;
  }
  body section .card {
    grid-column: 1/3;
  }
  body footer {
    grid-template-columns: 1fr;
    height: 100%;
  }
  body footer .notice,
body footer .stack,
body footer .credits {
    grid-column: 1/3;
  }
  body footer .credits {
    flex-direction: column;
    margin-top: 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
